@import "nav.css";
@import "footer.css";
@import "video.css";



:root {
    --red: #E84E4E;
    --redsdvsdv: #D2323F;
    --grayCard: #E4E4E4;
    --gray: #DDDDDD;
    --boxShadowCard: 0px 3px 12px #AE949629;
    --grayText: #c7c7c7;
}

main {
    display: flex;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}

body{
    background-image:  linear-gradient(rgba(112, 112, 112, 0.05) 1px, transparent 1px), linear-gradient(to right, rgba(112, 112, 112, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: effra;
    margin: 0;
    position: relative;
}

.login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.card {
    background-color: #fff;
    width: 30rem;
    margin: 16px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid var(--grayCard);
    box-shadow: var(--boxShadowCard);
}

.card p {
    margin-bottom: 20px;
}

.card-large {
    width: 100%;
    box-shadow: 0px 3px 12px #AE949629;
    display: flex;
    flex-direction: column;
}

.card-announcement {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
}

.card-small {
    width: 20%;
    box-shadow: 0px 3px 12px #AE949629;
}

.announcement-title h3, .announcement-title-active h3 {
    margin: 0;

}

.announcement-title, .announcement-title-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.announcement-title {
    padding: 20px 40px 20px;
}

.announcement-title-active {
    padding: 20px 40px 10px;
}

hr {
    border: none;
    border-bottom: 1px solid var(--grayCard);
}

.announcement {
    padding: 10px 40px 10px;
}

#subject-card {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

#subject-card::-webkit-scrollbar {
    display: none;
}

.alert {
    position: absolute;
    background-color: white;
    width: 20rem;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    box-shadow: var(--boxShadowCard);
    right: 10px;
    border-left: 5px solid rgba(0, 122, 255, 0.94);
}

.alert div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.alert div h1{
    margin-bottom: 0;
    font-size: 24px;
}

.alert div svg{
    width: 20px;
}


.space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form.space-between {
    height: 100%;
}

th {
    font-size: 20px;
    font-weight: medium;
    color: #DDDDDD;
}

.user-links {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}



.table-users {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    height: 90%;
}

.table-users::-webkit-scrollbar {
    display: none;
}

.table-users table {
    border-collapse:separate;
    border-spacing: 0 10px;
}


.table-users thead {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
}

#search-users {
    width: 30%;
}

#delete-user-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.input-label {
    font-size: 22px;
    font-weight: 500;
    color: var(--red);
}

.text-input, .input-div select {
    border: 1px solid var(--gray);
    border-radius: 8px;
    display: flex;
    width: 100%;
    height: 43px;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 10px 10px 10px 40px;
    font-family: effra;
    font-size: 18px;
    color: #050505;
}

.input-div select {
    color: #CBC9C9;
    -webkit-appearance: none;
    appearance: none;
}

::placeholder {
    color: #CBC9C9;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CBC9C9;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #CBC9C9;
}


::placeholder {
    color: #CBC9C9;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CBC9C9;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #CBC9C9;
}

.text-input:focus, select:focus {
    border: 2px solid var(--red);
    outline-width: 0;
    color: var(--red);
}

.input-div {
    margin-bottom: 30px;
}

.primary-button{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    color: #fff;
    padding: 3% 25%;
    border: none;
    background-color: #D2323F;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 40px;
}

.input-error {
    color: var(--red);
    list-style: none;
    margin-top: 8px;
    margin-left: 0;
}

.input-error li {
    margin-left: 0;
}

.app {
    display: flex;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

table {
    width: 100%;
    text-align: center;
    overflow-y: scroll;

}

.icon {
    width: 23px;
    height: 23px;
}

.link {
    color: var(--red);
}

.delete-button {
    background-color: var(--red);
    border-radius: 20%;
    border: none;
    color: #fff;
    padding: 10px;
}

.delete-button svg {
    stroke-width: 2.5px;
}

.change-user-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.errorList {
    background-color: var(--red);
    border-radius: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.auth-session-status {
    background-color: #238c1b;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
    color: #fff;
}

/**
 https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
 https://www.w3schools.com/html/html_entities.asp
 https://www.w3schools.com/CSSref/css_entities.php
 */
.remember-password-div  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--grayText);
}

.container-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 25px;
}

.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid var(--gray);
    border-radius: 4px;
}

.checkbox:checked ~ .checkmark {
    background-color: var(--red);
    border: 1px solid var(--red);
}

.checkbox:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark:after {
    left: 4px;
    content: '\2713';
    color: white;
    font-size: 12px;
}

.password-reset {
    color: var(--grayText);
    text-decoration-color: var(--grayText);
}

.errorList ul {
    list-style: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-top: -30px;
    background-color: rgba(231, 229, 229, 0.32);
}

.content-modal  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    display: block;
}

.none {
    display: none;
}

.chat-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 0;
    height: 100%;
}

.chat-list::-webkit-scrollbar {
    display: none;
}


.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.time {
    margin-top: 5px;
}

.time, .person {
    font-size: 12px;
    padding-left: 10px;

}

.person {
    margin-bottom: 3px;
}

.message-text {
    font-family: Roboto;
    display: inline;
    padding: 10px 16px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px #76767629;
}

.personal-message .message-text{
    color: #fff;
    background-color: #E84E4E;
    border: 1px solid #E84E4E;
}


.personal-message{
    margin-left: auto;
}

.normal-message{
    margin-right: auto;
}

.normal-message .message-text{
    border: 1px solid var(--gray);
}

#chat-form, #messages-input {
    display: flex;
    flex-direction: column;
}

#submit-chat {
    width: 10%;
}

#chat-input-div {
    display: flex;
    align-content: center;

}
.inputNoIcon {
    padding-left: 5px;
    color: black;
}

#messageInput {

    width: 90%;
}

#submit-chat{
    margin: auto;
    background: none;
    border: none;
}

#submit-chat svg{
    stroke: var(--gray);
    height: 40px;
    width: 40px;
}

#typing {
    margin: 0;
}

.livewire {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chatItem {
    padding: 8px 5px;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
}

.chatItemSelected {
    background-color: var(--red);
    color: #fff;
}

.chatTitle{
    display: flex;
    flex-direction: row;
    color: var(--red);
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


.chatTitle a {
    display: flex;
}

#videoLink svg {
    fill: none;
    stroke-width: 1.5px;
}

.chatTitle a svg {
    stroke: var(--red);
    stroke-width: 5px;
    width: 20px;
    height: 20px;
}

#showUsersDiv {
    display: flex;
    flex-direction: column;
}

#showUsersDiv a{
    margin: 10px 0;
    padding: 4px;
    border-radius: 10px;
    color: #171717;
}

#showUsersDiv a:hover{
    background-color: rgb(249, 249, 249);
}

.selectedUsers {
    border: 1px solid var(--gray);
    border-radius: 8px;
    display: flex;
    width: 100%;
    height: 43px;
    margin-top: 5px;
    font-size: 18px;
    padding: 5px;
}

.selectedUsers input{
    border: none;
    height: 100%;
    font-family: Roboto;

}

.selectedUsers input:focus{
    outline: none;
}


.selectedUsers span{
    margin: 10px;
    font-family: Roboto;
}

.selectedUsers span a{
    margin: 0 2px;
    padding: 4px 8px;
    font-family: Roboto;
}


.callButtonDiv {
    display: flex;
    justify-content: space-between;
}

.button {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px;
    margin-top: 40px;
    width: 48%;
    text-decoration: none;
}

.acceptButton {
    background-color: #34982a;
}

.declineButton {
    background-color: #D2323F;
}

.cardsDashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}


.info h2, .info2 h2 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.info2 {
    width: 50%;
}

.chat-dashboard {
    border: 1px solid var(--gray);
    display: flex;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #050505;
    justify-content: space-between;
    margin-bottom: 10px;
}

.timeLocationDashboard {
    font-weight: bolder;
    color: var(--red);
}

.card-dashboard {
    background-color: white;
    width: 100%;
    margin: 16px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    box-shadow: var(--boxShadowCard);
}

.dashboard-settings {
    display: flex;
    justify-content: right;
    width: 100%;
}

.dashboard-settings-link {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #E84E4E;
    padding: 10px;
    border-radius: 12px;

    border: 1px solid #E84E4E;
    box-shadow: 0px 3px 7px #76767629;
}

#dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
